.news-item-container {
    background: $news-item-comp-background-color;
    margin-bottom: 30px;

    .card-content {
        padding: 5px 15px 10px 15px;
    }

    .card-title {
        @extend .text-medium-size-2;
        color: $news-item-comp-font-color;
    }
}

.news-item-image-container {
    max-height: 200px;
    overflow: hidden;
}

.news-slider-date {
    @extend .text-standard-small;
    margin-top: 5px;
}
