<ion-card class="news-item-container" (click)="openNewsItem()" tappable>
    <div class="news-item-image-container">
        <img [src]="item.articleImage"
             *ngIf="item.articleImage"
             onError="this.src='/assets/images/image-fallback.png'"/>
        <img [src]="item.teaserImage"
             *ngIf="!item.articleImage"
             onError="this.src='/assets/images/image-fallback.png'"/>
    </div>
    <ion-card-content>
        <ion-card-title>
            {{ item.headline | slice:0:75 }}
        </ion-card-title>
        <div class="news-slider-date">
            {{ item.date }}
            {{ item.source }}
        </div>
    </ion-card-content>
</ion-card>
