<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Informationen
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="about-page">
    <div class="page-content">

        <div class="panel">
            <div class="panel-content text-center">
                <img class="about-promo-icon"
                     src="assets/images/eishockey-liga-logo.png" />
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Über die App
            </div>
            <div class="panel-content">
                Eishockey-Liga.at ist eine Fan App von Eishockey Fans für Eishockey Fans.
                Sie liefert dir eine kompakte Übersicht zu allen Ergebnissen und Spielständen
                der österreichischen Eishockey-Ligen.
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Aktualität
            </div>
            <div class="panel-content">
                Wir sind bemüht dich so schnell wie möglich mit allen wichtigen Informationen
                wie Toren oder Strafen zu versorgen. Aus Gründen der Performance kann es allerdings
                zu einer Verzögerung von einer Minute kommen. Das heißt nach spätestens einer Minute
                sollte auch dein Spielstand aktualisiert sein.
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Nutzungsbestimmungen: News
            </div>
            <div class="panel-content">
                Im News Bereich findest du aktuelle Beiträge und News-Artikel zum Thema Eishockey.
                Für den Inhalt, dessen Richtigkeit oder Aktualität übernehmen wir keine Haftung.
                Durch klick auf einen Beitrag werden Sie zum News Artikel weitergeleitet.
                Für die Inhalte haften die Portalbetreiber. Von unserer Seite werden keine Inhalte
                gespeichert.
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Nutzungsbestimmungen: Youtube
            </div>
            <div class="panel-content">
                Im Video Room findest du interessante Videos rund ums Thema Eishockey. Für den Inhalt,
                dessen Richtigkeit oder Aktualität übernehmen wir keine Haftung. Die Videos werden anhand
                von Schlagwörtern automatisiert gesucht und dargestellt. Sollte das Video aus rechtlichen
                Gründen aus dem Video Portal Youtube entfernt werden, ist es auch hier nicht mehr verfügbar.
                <span class="text-highlight"
                      (click)="openLinkInAppBrowser('https://www.youtube.com/static?hl=de&template=terms')">
                    Youtube Nutzungsbestimmungen
                </span>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Google Analytics
            </div>
            <div class="panel-content">
                Um den Service des Apps zu verbessern und eine optimierte Ausfallsicherheit zu
                ermöglichen benutzen wir
                <span class="text-highlight"
                      (click)="openLinkInAppBrowser('https://www.google.com/analytics/terms/de.html')">
                    Google Analytics
                </span>.
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Design Copyright
            </div>
            <div class="panel-content">
                Das Design, Logo und Icons wurden expliziert für diese App konzipiert und sind
                ohne Einverständnis nicht frei verwendbar.
                <br/>
                <p>
                    <span class="text-highlight"
                          (click)="openLinkInAppBrowser('http://www.naba.at')">
                        From naba with love.
                    </span>
                </p>
            </div>
        </div>
    </div>
</ion-content>
