<ion-buttons end>
    <button class="button-dashboard hidden-content" (click)="redirectToDashboard()" tappable ion-button icon-only>
        <span class="button-icon icon-hockey-sticks"></span>
    </button>
</ion-buttons>
