<div class="mini-header">
    {{ title }}
</div>

<div class="panel">
    <div class="panel-content-fullwidth">
        <ion-grid>
            <ion-row class="standings-header" align-items-center>
                <ion-col col-1 class="standings-item text-right">
                    &nbsp;
                </ion-col>
                <ion-col col-7 class="standings-item">
                    Team
                </ion-col>
                <ion-col col-1 class="standings-item standings-score-item">
                    S
                </ion-col>
                <ion-col col-2 class="standings-item standings-score-item">
                    T
                </ion-col>
                <ion-col col-1 class="standings-item standings-score-item">
                    P
                </ion-col>
            </ion-row>

            <ion-row *ngFor="let team of teams;"
                     class="standings-row"
                     align-items-center
                     (click)="onOpenTeamPage(team.id)"
                     tappable>
                <ion-col col-1 class="text-right">
                    <div class="standings-item text-standard-light">
                        {{ team.tableRank }}.
                    </div>
                </ion-col>
                <ion-col col-7 class="standing-border-bottom">
                    <team-logo [teamId]="team.id"></team-logo>
                    <div class="standings-item">
                        {{ team.teamShortname }}
                    </div>
                </ion-col>
                <ion-col col-1 class="standings-score-item standing-border-bottom">
                    <div class="standings-item">
                        {{ team.gamesPlayed }}
                    </div>
                </ion-col>
                <ion-col col-2 class="standings-score-item standing-border-bottom">
                    <div class="standings-item">
                        {{ team.goalsFor }}:{{ team.goalsAgainst }}
                    </div>
                </ion-col>
                <ion-col col-1 class="standings-score-item standing-border-bottom">
                    <div class="standings-item">
                        {{ team.points }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

