.standings-header {
   @extend .text-standard-light;
   border-bottom: 1px solid $standings-comp-header-border-color;

    .standings-item {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .standings-score-item {
        text-align: center;
    }
}

.standings-item {
    @extend .text-standard;
    float: left;
    padding: 25px 3px;

    @media screen and (max-width: $widthIphone6) {
        padding: 25px 5px;
    }

    @media screen and (max-width: $widthIphoneSE) {
        padding: 25px 3px;
    }
}

.standings-team-info,
.standings-score-info {
    padding: 0;
}

.standings-score-item {
    @extend .text-standard-light;
    text-align: center;

    .standings-item {
        width: 100%;
    }
}

.standings-row {
    .standings-item {
        border-bottom: 1px solid transparent;
    }

    .standing-border-bottom {
        padding-left: 0px;
        border-bottom: 1px solid $standings-comp-item-border-color;
    }

    &:last-child {
        .standing-border-bottom {
            border-bottom: 1px solid transparent;
        }
    }

    team-logo {
        display: block;
        float: left;
        text-align: center;
        padding: 11px 10px;

        img {
            height: 40px;
        }
    }
}