.schedule-list {
    @extend .left-floater;
    width: 100%;
}

.schedule-list-items {
    schedule-item {
        &:last-child {
            .schedule-item {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
