<div class="panel schedule-list" [class.hideBoxShadow]="hideBoxShadow" *ngFor="let gameDay of games;">
    <div class="panel-header border-bottom" id="divider-{{ gameDay.date.sortValue }}">
        {{ getFormattedGameDay(gameDay.date.value) }}
    </div>
    <div class="panel-content-paddingless-right schedule-list-items">
        <schedule-item *ngFor="let game of gameDay.games;"
                       [game]="game"
                       [showGameDate]="showGameDate"
                       [league]="league"></schedule-item>
    </div>
</div>
