.team-banner-container {
    @extend .toolbar;
    background-color: $game-page-report-background-color;
    padding: 0 12px 24px 12px;

    .team-banner {
        display: block;
        width: 100%;
        height: 80px;
        color: $game-page-report-font-color;
        text-align: center;
    }

    team-logo {
        @extend .left-floater;
        width: 100%;
        margin-bottom: 15px;

        img {
            max-height: 70px;
        }
    }

    .team-name {
        @extend .headline-uppercase-light;
        @extend .left-floater;
        width: 100%;
    }
}
