<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

    <div class="team-banner-container">
        <div class="team-banner">
            <team-logo [teamId]="teamId"></team-logo>
            <div class="team-name">
                {{ teamName }}
            </div>
        </div>
    </div>

    <div class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'details'"
                         (click)="switchSubMenu('details')">
                        Details
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'roster'"
                         (click)="switchSubMenu('roster')">
                        Kader
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'statistic'"
                         (click)="switchSubMenu('statistic')">
                        Statistik
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="team-page">
    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div [ngSwitch]="submenu" *ngIf="!showSpinner" class="page-content">
        <div *ngSwitchCase="'details'" class="animated fadeIn">
            <team-details-component [games]="team.games"
                                    [topscorer]="team.topscorer"
                                    [league]="leagueConfig">
            </team-details-component>
        </div>

        <div *ngSwitchCase="'roster'" class="animated fadeIn">
            <team-roster-component [roster]="team.roster" [league]="leagueConfig"></team-roster-component>
        </div>

        <ion-grid *ngSwitchCase="'statistic'" class="animated fadeIn">
            <team-statistics-component [team]="team"></team-statistics-component>
        </ion-grid>
    </div>
</ion-content>
