<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Tabelle {{ leagueConfig.title }}
        </ion-title>
        <button-dashboard></button-dashboard>
    </ion-navbar>

    <div *ngIf="leagueConfig.intermediate" class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-6>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'preliminary'"
                         (click)="switchSubMenu('preliminary')">
                        Grunddurchgang
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'intermediate'"
                         (click)="switchSubMenu('intermediate')">
                        Zwischenrunde
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="standings-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <div class="custom-refresher">
            <span></span>
        </div>
    </ion-refresher>

    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div *ngIf="!showSpinner" [ngSwitch]="submenu">
        <div *ngSwitchCase="'preliminary'" class="animated fadeIn">
            <standings-component [teams]="preliminaryStandings"
                                 [title]="'Grunddurchgang'"
                                 [leagueConfig]="leagueConfig"></standings-component>
        </div>

        <div *ngSwitchCase="'intermediate'">
            <div *ngFor="let round of intermediateStandings;" class="animated fadeIn">
                <standings-component [teams]="round.standings"
                                     [title]="round.title"
                                     [leagueConfig]="leagueConfig"></standings-component>
            </div>
        </div>
    </div>
</ion-content>
