.schedule-item {
    @extend .left-floater;
    width: 100%;
    border-bottom: 1px solid $schedule-item-comp-border-color;

    ion-grid {
        padding: 0;
    }
}

.schedule-item-date {
    @extend .text-medium-size-2;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
}

.schedule-item-team-section {
    padding: 10px 5px 10px 0;

    .schedule-item-team-holder {
    }

    .schedule-item-team-logo {
        padding: 4px;
        padding-left: 0;

        img {
            max-height: 30px;
        }
    }

    .schedule-item-team-name {
        @extend .text-standard;
    }
}

.schedule-item-info-section {
    @extend .text-standard-light;
    padding: 0;

    .schedule-item-info {
        @extend .text-standard-size-2;
        text-align: center;
    }

    .schedule-item-link {
        font-size: 26px;
        text-align: center;
    }
}
