<div class="animated fadeIn schedule-item" tappable (click)="viewGame()">
    <ion-grid>
        <ion-row *ngIf="showGameDate">
            <ion-col col-12 class="schedule-item-date">
                {{ formattedGameDay }}
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-9 class="schedule-item-team-section">
                <ion-grid>
                    <ion-row align-items-center class="schedule-item-team-holder">
                        <ion-col col-2 class="schedule-item-team-logo">
                            <team-logo [teamId]="game.homeTeamId"></team-logo>
                        </ion-col>
                        <ion-col col-10 class="schedule-item-team-name">
                            {{ game.homeTeamLongName }}
                        </ion-col>
                    </ion-row>
                    <ion-row align-items-center class="schedule-item-team-holder">
                        <ion-col col-2 class="schedule-item-team-logo">
                            <team-logo [teamId]="game.awayTeamId"></team-logo>
                        </ion-col>
                        <ion-col col-10 class="schedule-item-team-name">
                            {{ game.awayTeamLongName }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>

            <ion-col col-3 class="schedule-item-info-section">
                <ion-grid>
                    <ion-row align-items-center>
                        <ion-col col-8 *ngIf="!isFutureGame && !game.dateIsToBeDetermined" class="schedule-item-info">
                            {{ game.homeTeamScore }}:{{ game.awayTeamScore }}
                        </ion-col>
                        <ion-col col-8 *ngIf="isFutureGame && !game.dateIsToBeDetermined" class="schedule-item-info">
                            {{ game.scheduledTime }}
                        </ion-col>
                        <ion-col col-8 *ngIf="game.dateIsToBeDetermined" class="schedule-item-info">
                            TBD
                        </ion-col>
                        <ion-col col-2 class="schedule-item-link">
                            <i class="icon-chevron-right"></i>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
