.game-details-item {
    @extend .left-floater;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid $app-border-color;

    .icon {
        font-size: 35px;
        line-height: 24px;

        .icon-puck {
            color: $app-highlight-color;
        }
    }

    .text-large {
        @extend .text-medium-size-2;
        padding: 4px 0 2px 0px;
    }

    .text-small {
        @extend .text-standard-light;
    }

    .gametime {
        @extend .text-standard-light;
    }

    &:last-child {
        border-bottom: 0;
    }
}
