<div *ngIf="!gameActions || !gameActions.length" class="empty-result">
    <span>
        Noch nichts passiert.
    </span>
</div>

<ion-row *ngFor="let item of gameActions"
         class="game-details-item home"
         [ngClass]="{
             'home': item.isHome,
             'away': !item.isHome,
             'goal': item.isGoal
         }">
    <ion-col *ngIf="item.isHome" col-12>
        <ion-row align-items-center>
            <ion-col col-3 class="text-center">
                <div class="icon">
                    <span class="icon-whistle" *ngIf="!item.isGoal"></span>
                    <span class="icon-puck" *ngIf="item.isGoal"></span>
                </div>
                <div class="gametime">
                    {{ item.gameTimeFormatted }}
                </div>
            </ion-col>
            <ion-col col-9 class="text-left">
                <div *ngIf="!item.isGoal">
                    <div class="text-large">
                        {{ item.penaltyLength / 60 }}'
                        {{ getPenaltyTranslation(item.reason) }}
                    </div>
                    <div class="text-small" *ngIf="item.player">
                        #{{ item.player.number }}
                        {{ item.player.firstname }}
                        {{ item.player.lastname }}
                    </div>
                </div>

                <div *ngIf="item.isGoal">
                    <div class="text-large" *ngIf="item.scoredBy">
                        #{{ item.scoredBy.number }}
                        {{ item.scoredBy.firstname }}
                        {{ item.scoredBy.lastname }}
                    </div>
                    <div class="text-small">
                        <span *ngIf="item.assistBy">
                            #{{ item.assistBy.number }}
                            {{ item.assistBy.firstname }}
                            {{ item.assistBy.lastname }}
                        </span>
                        <span *ngIf="item.assist2By">
                            #{{ item.assist2By.number }}
                            {{ item.assist2By.firstname }}
                            {{ item.assist2By.lastname }}
                        </span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-col>

    <ion-col *ngIf="!item.isHome" col-12>
        <ion-row align-items-center>
            <ion-col col-9 class="text-right">
                <div *ngIf="!item.isGoal">
                    <div class="text-large">
                        {{ item.penaltyLength / 60 }}'
                        {{ getPenaltyTranslation(item.reason) }}
                    </div>
                    <div class="text-small" *ngIf="item.player">
                        #{{ item.player.number }}
                        {{ item.player.firstname }}
                        {{ item.player.lastname }}
                    </div>
                </div>
                <div *ngIf="item.isGoal">
                    <div class="text-large" *ngIf="item.scoredBy">
                        #{{ item.scoredBy.number }}
                        {{ item.scoredBy.firstname }}
                        {{ item.scoredBy.lastname }}
                    </div>
                    <div class="text-small">
                        <span *ngIf="item.assistBy">
                            #{{ item.assistBy.number }}
                            {{ item.assistBy.firstname }}
                            {{ item.assistBy.lastname }}
                        </span>
                        <span *ngIf="item.assist2By">
                            #{{ item.assist2By.number }}
                            {{ item.assist2By.firstname }}
                            {{ item.assist2By.lastname }}
                        </span>
                    </div>
                </div>
            </ion-col>

            <ion-col col-3 class="text-center">
                <div class="icon">
                    <span class="icon-whistle" *ngIf="!item.isGoal"></span>
                    <span class="icon-puck" *ngIf="item.isGoal"></span>
                </div>
                <div class="gametime">
                    {{ item.gameTimeFormatted }}
                </div>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>
