.schedule-live {
    background: $schedule-live-item-background-color;
    width: 100%;

    .schedule-live-holder {
        text-align: center;

        .result-big {
            @extend .font-family-bold;
            font-size: 18px;
        }

        .result-small {
            @extend .text-standard-small-light;
            margin-top: 3px;
        }

        .schedule-time {
            @extend .text-standard-size-2;
        }

        .result-info {
            @extend .text-standard-small;
            margin-top: 3px;
        }
    }

    .schedule-live-logo {
        text-align: center;

        img {
            height: 60px;
        }
    }

    .schedule-live-link {
        font-size: 24px;
    }
}