<ion-grid class="schedule-live" (click)="viewGame()" tappable>
    <ion-row align-items-center>
        <ion-col col-1 center></ion-col>

        <ion-col col-10 center>
            <ion-row align-items-center>
                <ion-col col-4 class="schedule-live-logo">
                    <team-logo [teamId]="homeTeam.id"></team-logo>
                </ion-col>

                <ion-col col-4 class="text-center">
                    <div class="schedule-live-holder">
                        <div *ngIf="isGameRunning || isFinished" class="result-big">
                            {{ encounter.homeTeamScore }} : {{ encounter.awayTeamScore }}
                        </div>
                        <div *ngIf="!isGameRunning && !isFinished" class="schedule-time">
                            ab {{ encounter.scheduledTime }}
                        </div>
                        <div *ngIf="isRegular" class="result-small">
                            Live
                        </div>
                        <div *ngIf="isOvertime" class="result-info">
                            Overtime
                        </div>
                        <div *ngIf="isShootout" class="result-info">
                            Shootout
                        </div>
                        <div *ngIf="isFinished" class="result-info">
                            Ende
                        </div>
                    </div>
                </ion-col>

                <ion-col col-4 class="schedule-live-logo">
                    <team-logo [teamId]="awayTeam.id"></team-logo>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col col-1>
            <div class="schedule-live-link">
                <i class="fa fa-angle-right"></i>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
