<ion-header>
    <ion-navbar>
        <button native-transitions ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Dashboard
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="dashboard-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <div class="custom-refresher">
            <span></span>
        </div>
    </ion-refresher>

    <div class="mini-header">
        Live Spiele
    </div>
    <div class="panel panel-marginless dashboard-widget">
        <custom-spinner *ngIf="showSpinnerTodayGames"></custom-spinner>
        <div *ngIf="!showSpinnerTodayGames" class="animated fadeIn">
            <schedule-live-list [liveGames]="todayGames"
                                [league]="dashboardMainLeague"></schedule-live-list>
        </div>
    </div>

    <div class="mini-header">
        News
    </div>
    <div class="panel panel-marginless panel-transparent content-block">
        <news-slider></news-slider>
    </div>

    <div class="mini-header">
        Nächste Spiele
    </div>
    <div class="panel panel-marginless dashboard-widget">
        <custom-spinner *ngIf="showSpinnerNextGames"></custom-spinner>
        <div *ngIf="!showSpinnerNextGames" class="animated fadeIn">
            <div *ngIf="nextGames && nextGames.length">
                <schedule-list [games]="nextGames"
                               [hideBoxShadow]="true"
                               [league]="dashboardMainLeague"></schedule-list>

                <div class="dashboard-more-button-bar">
                    <button class="btn btn-fullwidth" (click)="openSchedulePage()" tappable>
                        Alle anzeigen
                    </button>
                </div>
            </div>
            <div *ngIf="!nextGames || !nextGames.length" class="empty-result">
                <span>
                    Keine Spiele ausständig.
                </span>
            </div>
        </div>
    </div>

    <div class="mini-header">
        Letzte Spiele
    </div>
    <div class="panel panel-marginless dashboard-widget">
        <custom-spinner *ngIf="showSpinnerLatestGames"></custom-spinner>
        <div *ngIf="!showSpinnerLatestGames" class="animated fadeIn">
            <div *ngIf="lastGames && lastGames.length">
                <schedule-list [games]="lastGames"
                               [hideBoxShadow]="true"
                               [league]="dashboardMainLeague"></schedule-list>

                <div class="dashboard-more-button-bar">
                    <button class="btn btn-fullwidth" (click)="openSchedulePage()" tappable>
                        Alle anzeigen
                    </button>
                </div>
            </div>

            <div *ngIf="!lastGames || !lastGames.length" class="empty-result">
                <span>
                    Noch keine Spiele gespielt.
                </span>
            </div>
        </div>
    </div>
</ion-content>
