.dashboard-page {
    schedule-list {
        .panel {
            margin-bottom: 0;
        }
    }
}

.dashboard-widget {
    min-height: 80px;
}

.dashboard-more-button-bar {
    padding: 20px 20px 40px 20px;
}
