.settings-group {
    .mini-header {
        padding: 20px 10px 10px 10px;
    }

    .settings-group-item {
        background: $league-settings-page-group-item-background-color;

        .item-inner {
            border-bottom: 1px solid $league-settings-page-group-item-border-color;
        }

        &:last-child {
            .item-inner {
                border-bottom: 1px solid transparent;
            }
        }
    }

    .settings-group-item-label {
        @extend .text-medium-size-2;
        color: $league-settings-page-font-color;
    }

    .settings-group-item-label-fallback {
        @extend .text-thin;
        color: $league-settings-page-font-color;
    }
}

