<ion-header>
    <ion-navbar>
        <button native-transitions ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Liga Einstellungen
        </ion-title>
        <button-dashboard></button-dashboard>
    </ion-navbar>
</ion-header>

<ion-content>
    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div *ngFor="let group of leagueGroups" class="settings-group">
        <div class="mini-header" *ngIf="group.leagues.length">
            {{ group.title }}
        </div>
        <div *ngIf="group.leagues.length">
            <ion-item *ngFor="let league of group.leagues"
                      class="settings-group-item">
                <ion-toggle color="secondary"
                            disabled="{{ !league.isSelectable }}"
                            [(ngModel)]="league.isActive"
                            (ionChange)="onSettingsChanged()"></ion-toggle>
                <ion-label class="settings-group-item-label">
                    {{ league.title }}
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>
