<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Video Room <span class="beta">Beta</span>
        </ion-title>
    </ion-navbar>

    <div class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-6 *ngFor="let item of playlists">
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === item.key"
                         (click)="switchSubMenu(item)">
                        {{ item.title }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="video-room-page">

    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div *ngIf="!showSpinner" class="page-content">
        <div class="video-list animated fadeIn">
            <ion-card *ngFor="let video of videos" class="video-list-item">
                <div class="video-list-item-video-holder">
                    <div class="video-list-item-thumbnail"
                         *ngIf="!video.loadVideo"
                         (click)="showVideo(video)"
                         tappable>
                        <img [src]="getThumbnailUrl(video)" />
                    </div>
                    <iframe *ngIf="video.loadVideo"
                            [src]="youtubeBaseUrl + video.snippet.resourceId.videoId | safe"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <ion-card-content>
                    <ion-card-title>
                        {{ video.snippet.title | slice:0:75 }}
                    </ion-card-title>
                    <div class="video-list-item-date">
                        {{ video.snippet.publishedAt | date: 'dd.MM.yyyy' }} - Youtube.com
                    </div>
                </ion-card-content>
            </ion-card>

            <div class="video-list-pagination" *ngIf="youtubeData.prevPageToken || youtubeData.nextPageToken">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6 class="video-list-pagination-prev">
                            <button class="btn"
                                    *ngIf="youtubeData.prevPageToken"
                                    (click)="fetchVideos(youtubeData.prevPageToken)"
                                    tappable>
                                Zurück
                            </button>
                        </ion-col>
                        <ion-col col-6 class="video-list-pagination-next">
                            <button class="btn"
                                    *ngIf="youtubeData.nextPageToken"
                                    (click)="fetchVideos(youtubeData.nextPageToken)"
                                    tappable>
                                Weiter
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>
