.video-room-page {
}

.video-list {
    @extend .left-floater;
    width: 100%;
}

.video-list-item {
    background: $video-page-item-background-color;
    margin-bottom: 30px;

    .card-content {
        padding: 5px 15px 10px 15px;
    }

    .card-title {
        @extend .text-medium-size-2;
        color: $video-page-item-font-color;
    }
}

.video-list-item-video-holder {
    max-height: 200px;
    height: 200px;
    overflow: hidden;
    width: 100%;
    background: $video-page-item-video-background-color;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.video-list-item-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    img {
        height: 100%;
    }

    &:before {
        position: absolute;
        width: 100%;
        height: 52px;
        left: 0;
        top: 61px;
        content: '\f34f';
        font-family: 'Ionicons';
        font-size: 50px;
        text-align: center;
        color: $video-page-item-video-icon-play-font-color;
    }
}

.video-list-item-date {
    @extend .text-standard-small-light;
    width: 100%;
    margin-top: 10px;
}

.video-list-pagination {
    @extend .left-floater;
    width: 100%;
    background: $video-page-pagination-background-color;

    .video-list-pagination-prev {
        text-align: left;
    }

    .video-list-pagination-next {
        text-align: right;
    }
}