.encounter-item {
    .encounter-result-holder {
        text-align: center;

        .result-big {
            @extend .text-medium-size-3;
        }

        .result-small {
            @extend .text-standard-small-light;
        }
    }

    .encounter-team-logo {
        text-align: center;

        img {
            height: 60px;
        }
    }
}