<ion-grid class="encounter-item">
    <ion-row align-items-center>
        <ion-col col-4 class="encounter-team-logo">
            <team-logo [teamId]="homeTeam.id"></team-logo>
        </ion-col>

        <ion-col col-4 class="text-center">
            <div class="encounter-result-holder">
                <div class="result-big">
                    {{ homeTeam.gamesWon }}:{{ awayTeam.gamesWon }}
                </div>
                <div class="result-small">
                    Best of {{ encounter.bestOf }}
                </div>
            </div>
        </ion-col>

        <ion-col col-4 class="encounter-team-logo">
            <team-logo [teamId]="awayTeam.id"></team-logo>
        </ion-col>
    </ion-row>
</ion-grid>
