.news-slider {
    @extend .left-floater;
    height: 260px;

    .swiper-pagination-bullet {
        background: $news-slider-comp-pagination-bullet-background-color;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: $news-slider-comp-pagination-bullet-active-background-color;
    }

    .slide-zoom {
        align-self: flex-start;
    }
}

.news-slider-item {
    @extend .left-floater;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 2px;
    overflow: hidden;
}

.news-slider-image {
    @extend .left-floater;
    width: 100%;
    height: 170px;
    background: $news-slider-comp-image-background-color;
    text-align: center;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-height: inherit;
    }
}

.news-slider-content {
    @extend .left-floater;
    width: 100%;
    height: 90px;
    display: block;
    background: $news-slider-comp-background-color;
    text-align: left;
    padding: 15px;
    padding-bottom: 35px;
}

.news-slider-date {
    @extend .text-standard-small;
    margin-top: 5px;
}

.news-slider-title {
   @extend .text-medium-size-2;
}
