<ion-slides pager="true" class="news-slider">
    <ion-slide *ngFor="let item of news" (click)="openNewsItem(item)" tappable>
        <div class="news-slider-item">
            <div class="news-slider-image">
                <img [src]="item.articleImage"
                     *ngIf="item.articleImage"
                     onError="this.src='/assets/images/image-fallback.png'"/>
                <img [src]="item.teaserImage"
                     *ngIf="!item.articleImage"
                     onError="this.src='/assets/images/image-fallback.png'"/>
            </div>
            <div class="news-slider-content">
                <div class="news-slider-title">
                    {{ item.headline | slice:0:75 }}
                </div>
                <div class="news-slider-date">
                    {{ item.date }}
                    {{ item.source }}
                </div>
            </div>
        </div>
    </ion-slide>
</ion-slides>
