.custom-spinner-container {
    color: $spinner-comp-color;
    stroke: $spinner-comp-color;

    &.fullscreen {
        width: 100%;
        height: 100%;
        min-height: 83px;
        display: table;
        text-align: center;
    }

    .custom-spinner-inner {
        display: table-cell;
        vertical-align: middle;
    }

    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: $spinner-comp-color;
        fill: $spinner-comp-color;
    }
}

