<ion-grid class="game-lineup-holder">
    <ion-row class="game-lineup-headline" align-items-center>
        <ion-col col-4 class="game-lineup-headline-logo">
            <team-logo [teamId]="homeId"></team-logo>
        </ion-col>
        <ion-col col-4 class="game-lineup-headline-title">
            {{ headline }}
        </ion-col>
        <ion-col col-4 class="game-lineup-headline-logo">
            <team-logo [teamId]="awayId"></team-logo>
        </ion-col>
    </ion-row>

    <ion-row class="game-lineup-content" align-items-stretch>
        <ion-col col-6 class="game-lineup-column-border">
            <div *ngIf="homeMember.length">
                <game-lineup-item *ngFor="let item of homeMember"
                                  [teamId]="homeId"
                                  [item]="item"
                                  [leagueId]= "leagueId"
                                  [hasLinkToPlayerPage]="hasLinkToPlayerPage"></game-lineup-item>
            </div>
            <div *ngIf="!homeMember.length">
                Spielbericht unvollständig
            </div>
        </ion-col>
        <ion-col col-6>
            <div *ngIf="awayMember.length">
                <game-lineup-item *ngFor="let item of awayMember"
                                  [teamId]="awayId"
                                  [item]="item"
                                  [leagueId]= "leagueId"
                                  [hasLinkToPlayerPage]="hasLinkToPlayerPage"></game-lineup-item>
            </div>
            <div *ngIf="!awayMember.length" class="game-lineup-no-result">
                Spielbericht unvollständig
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
