.game-lineup-holder {
    @extend .left-floater;
    width: 100%;
    background-color: $game-lineup-comp-background-color;
    margin-bottom: 30px;
    padding: 0;
    font-size: 12px;
}

.game-lineup-headline {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.game-lineup-headline-logo {
    img {
        width: 35px;
    }
}

.game-lineup-headline-title {
    @extend .text-medium-size-2;
}

.game-lineup-content {
    text-align: center;
    padding: 0;
}

.game-lineup-column-border {
    border-right: 1px solid $app-border-color;
}

.game-lineup-no-result {
    padding: 10px;
}
