<ion-grid class="encounter-item">
    <ion-row align-items-center>
        <ion-col col-4 class="encounter-team-logo"
                 (click)="onOpenTeamPage(encounter.homeTeam.id)"
                 tappable>
            <team-logo [teamId]="encounter.homeTeam.id"></team-logo>
        </ion-col>

        <ion-col col-4 class="text-center">
            <div class="encounter-result-holder">
                <div *ngIf="isGameRunning" class="result-big">
                    {{ encounter.homeTeamScore }}:{{ encounter.awayTeamScore }}
                </div>
                <div *ngIf="!isGameRunning" class="result-big">
                    -:-
                </div>
                <div *ngIf="isGameRunning" class="result-small">
                    (
                    {{ encounter.periodStats[0].homeScore }}:{{ encounter.periodStats[0].awayScore }}
                    |
                    {{ encounter.periodStats[1].homeScore }}:{{ encounter.periodStats[1].awayScore }}
                    |
                    {{ encounter.periodStats[2].homeScore }}:{{ encounter.periodStats[2].awayScore }}
                    )
                </div>
                <div *ngIf="!isGameRunning" class="result-small">
                    ab {{ encounter.scheduledTime }}
                </div>
                <div *ngIf="encounter.isOvertime" class="result-small">
                    n.V.
                </div>
                <div *ngIf="encounter.isShootOut" class="result-small">
                    n.P.
                </div>
            </div>
        </ion-col>

        <ion-col col-4 class="encounter-team-logo"
                 (click)="onOpenTeamPage(encounter.awayTeam.id)"
                 tappable>
            <team-logo [teamId]="encounter.awayTeam.id"></team-logo>
        </ion-col>
    </ion-row>
</ion-grid>
