.game-statistics {
    padding: 0;
}

.game-statistics-content-row-large {
    .icon {
        padding: 10px 5px 10px 0;
        font-size: 42px;
        color: $app-font-color-lighter;
    }

    .text {
        padding: 25px 5px 25px 0;
        border-bottom: 1px solid $game-statistics-comp-border-color;
    }

    &:last-child {
        .text {
            border-bottom: 0;
        }
    }
}

.game-statistics-content-row-small {
    padding: 5px 15px;
}

.game-statistics-content-row-small-progress-bar {
    padding: 0px 15px;
}

.game-statistics-home {
    @extend .text-standard-light;
    text-align: left;
}

.game-statistics-guest {
    @extend .text-standard-light;
    text-align: right;
}

.game-statistics-description {
    @extend .font-family-light;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    text-align: center;
}

.game-statistics-content-row-officials {
    .icon {
        padding: 10px 0px;
        font-size: 42px;
        color: $app-font-color-lighter;
    }

    .name {
        padding: 20px 5px 20px 0;
        border-bottom: 1px solid $game-statistics-comp-border-color;
    }

    &:last-child {
        .name {
            border-bottom: 0;
        }
    }
}
