<div class="panel">
    <div class="panel-header">
        Location
    </div>

    <div class="panel-content-paddingless-right">
        <ion-grid>
            <ion-row class="game-statistics-content-row-large" align-items-center>
                <ion-col col-2 class="icon">
                    <span class="icon-stadium"></span>
                </ion-col>
                <ion-col col-10 class="text">
                    {{ gameStatistics.location.longname }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-large" align-items-center>
                <ion-col col-2 class="icon">
                    <span class="icon-statistics"></span>
                </ion-col>
                <ion-col col-10 class="text">
                    {{ gameStatistics.attendance }} Zuschauer
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Übersicht
    </div>

    <div class="panel-content-padding-inverse">
        <ion-grid>
            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ gameStatistics.homeShotsOnGoal }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Schüsse
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ gameStatistics.awayShotsOnGoal }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homeShootsOnGoalPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayShootsOnGoalPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ homeTimeLeadingString }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Führung
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ awayTimeLeadingString }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homeTimeLeadingPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayTimeLeadingPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ homeTimeTiedString }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Unentschieden
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ awayTimeTiedString }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homeTimeTiedPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayTimeTiedPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ homeTimeTrailingString }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Rückstand
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ awayTimeTrailingString }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homeTimeTrailingPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayTimeTrailingPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Powerplay
    </div>

    <div class="panel-content-padding-inverse">
        <ion-grid>
            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ gameStatistics.awayPenalties }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Powerplays
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ gameStatistics.homePenalties }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayPenaltiesPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="homePenaltiesPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ gameStatistics.homePowerplayGoals }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Tore
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ gameStatistics.awayPowerplayGoals }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homePowerplayGoalsPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayPowerplayGoalsPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ homePowerplayPercentage | number : '1.0-0' }} %
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Effizienz
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ awayPowerplayPercentage | number : '1.0-0' }} %
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homePowerplayPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayPowerplayPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Penalty Killing
    </div>

    <div class="panel-content-padding-inverse">
        <ion-grid>
            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ gameStatistics.homePenalties }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Strafen
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ gameStatistics.awayPenalties }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homePenaltiesPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayPenaltiesPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ gameStatistics.awayPowerplayGoals }}
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Tore
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ gameStatistics.homePowerplayGoals }}
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayPowerplayGoalsPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="homePowerplayGoalsPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-small" align-items-center>
                <ion-col col-3 class="game-statistics-home">
                    {{ homePenaltykillingPercentage | number : '1.0-0' }} %
                </ion-col>
                <ion-col col-6 class="game-statistics-description">
                    Effizienz
                </ion-col>
                <ion-col col-3 class="game-statistics-guest">
                    {{ awayPenaltykillingPercentage | number : '1.0-0' }} %
                </ion-col>
            </ion-row>
            <ion-row class="game-statistics-content-row-small-progress-bar">
                <ion-col col-6>
                    <progressbar-slim [percentage]="homePenaltykillingPercentage" [leftFloater]="false"></progressbar-slim>
                </ion-col>
                <ion-col col-6>
                    <progressbar-slim [percentage]="awayPenaltykillingPercentage"></progressbar-slim>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Schiedsrichter
    </div>

    <div class="panel-content-paddingless-right">
        <ion-grid>
            <ion-row class="game-statistics-content-row-officials"
                     align-items-center
                     *ngFor="let offical of gameOfficials.headref">
                <ion-col col-2 class="icon">
                    <span class="icon-referee"></span>
                </ion-col>
                <ion-col col-10 class="name">
                    {{ offical.firstname }} {{ offical.lastname }}
                </ion-col>
            </ion-row>

            <ion-row class="game-statistics-content-row-officials"
                     align-items-center
                     *ngFor="let offical of gameOfficials.linesmen">
                <ion-col col-2 class="icon">
                    <span class="icon-referee"></span>
                </ion-col>
                <ion-col col-10 class="name">
                    {{ offical.firstname }} {{ offical.lastname }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>
