<div class="playoff-encounter-item">
    <playoff-encounter-item [encounter]="encounter"></playoff-encounter-item>
    <div class="panel-content-paddingless-right">
        <div *ngFor="let game of encounter.games" class="schedule-list-item">
            <schedule-item [game]="game" [league]="league" [showGameDate]="true"></schedule-item>
        </div>
    </div>
</div>
