.playoff-encounter-item {
    @extend .left-floater;
    width: 100%;

    .encounter-item {
        border-bottom: 1px solid $playoff-encounter-item-comp-border-color;
        padding: 5px;
    }

    .schedule-list-item {
        &:last-child {
            .schedule-item {
                border-bottom: 1px solid transparent;
            }
        }
    }
}