// App
$app-background: $blue-dark;
/* $app-content-background-color: $blue-default; */
$app-border-color: $blue-darkest;

/* $app-background: $blue-dark-2; */
$app-content-background-color: $blue-default-1;
/* $app-border-color: #0B0D12; */

$app-font-color: $white;
$app-font-color-lighter: $grey-lighter;
$app-highlight-color: $red-regular;
$app-box-shadow: 0 5px 5px 0 $blue-dark-1;

// Menu
$menu-font-color: $app-font-color;
$menu-item-background-color: $app-content-background-color;
$menu-item-border-color: $app-border-color;
$menu-item-font-color: $app-font-color;
$menu-item-active-border-color: $app-highlight-color;
$menu-section-header-background-color: $app-content-background-color;

// Header
$header-box-shadow: $app-box-shadow;

// Header Subnav
$subnav-background-color: $app-content-background-color;
$subnav-box-shadow: $app-box-shadow;
$subnav-item-background-color: $app-content-background-color;
$subnav-item-border-color: $app-content-background-color;
$subnav-item-font-color: $app-font-color-lighter;
$subnav-item-active-font-color: $app-font-color;
$subnav-item-active-border-color: $app-highlight-color;

// Toolbar
$toolbar-background-color: $app-content-background-color;
$toolbar-font-color: $app-font-color;
$toolbar-button-font-color: $app-font-color;

// Refresher
$refresher-background-color: $app-highlight-color;

// Buttons
$button-font-color: $app-highlight-color;
$button-border-color: $app-highlight-color;
$button-background-color: transparent;

// Fab
$fab-active-background-color: $app-highlight-color;
$fab-active-font-color: $app-font-color;

// Cards component
$panel-background-color: $app-content-background-color;
$panel-border-color: $app-border-color;
$panel-box-shadow: $app-box-shadow;
$panel-header-border-color: $app-border-color;

// Beta
$beta-label-font-color: $app-highlight-color;

// Custom-table component
$custom-table-comp-header-border-color: $app-border-color;
$custom-table-comp-row-border-color: $app-border-color;

// Game-lineup component
$game-lineup-comp-background-color: $app-content-background-color;
$game-lineup-comp-column-border-color: $app-border-color;
$game-lineup-comp-item-icon-font-color: $app-font-color-lighter;
$game-lineup-comp-item-name-font-color: $app-font-color-lighter;

// Game-lineup component
$game-lineup-item-comp-item-icon-font-color: $app-font-color-lighter;
$game-lineup-item-comp-item-name-font-color: $app-font-color-lighter;

// Game-statistics component
$game-statistics-comp-border-color: $app-border-color;

// News Item component
$news-item-comp-background-color: $app-content-background-color;
$news-item-comp-font-color: $app-font-color;

// News slider component
$news-slider-comp-background-color: $app-content-background-color;
$news-slider-comp-image-background-color: $app-content-background-color;
$news-slider-comp-pagination-bullet-background-color: $app-background;
$news-slider-comp-pagination-bullet-active-background-color: $app-highlight-color;

// Playoff encounter item component
$playoff-encounter-item-comp-border-color: $app-border-color;

// Progressbar component
$progressbar-comp-background-color: $grey-lighter;
$progressbar-comp-active-background-color: $app-highlight-color;

// schedule-item component
$schedule-item-comp-border-color: $app-border-color;

// schedule live component
$schedule-live-item-background-color: $app-content-background-color;
$schedule-live-item-border-color: $app-border-color;

// spinner component
$spinner-comp-color: $white;

// Standings component
$standings-comp-header-border-color: $app-border-color;
$standings-comp-item-border-color: $app-border-color;

// Game page
$game-page-report-background-color: $app-content-background-color;
$game-page-report-font-color: $app-font-color;

// League settings page
$league-settings-page-group-item-background-color: $app-content-background-color;
$league-settings-page-group-item-border-color: $app-border-color;
$league-settings-page-font-color: $app-font-color;

// Player page
$player-page-banner-background-color: $app-content-background-color;
$player-page-banner-font-color: $app-font-color;


// Video page
$video-page-item-background-color: $app-content-background-color;
$video-page-item-font-color: $app-font-color;
$video-page-item-video-background-color: $black;
$video-page-item-video-icon-play-font-color: $app-highlight-color;
$video-page-pagination-background-color: $app-content-background-color;
