// Colors
$white: #ffffff;
$black: #000000;
$blue-darkest: #121824;
$blue-dark: #151923;
$blue-dark-1: #090F19;
$blue-dark-2: #0B0D12;  // alternative
$blue-default: #1D2230;
$blue-default-1: #222838; // alternative
$red-regular: #F02643;
$grey-lighter: #787F8C;

// Display-Sizes
$widthIphoneSE: 321px;
$widthIphone6: 376px;
$widthIpad: 769px;

$icon-jersey-grey: '../assets/icon/jersey-grey.png';
$icon-suit-grey: '../assets/icon/suit-grey.png';