@mixin box-shadow($content, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $content;
        -moz-box-shadow:inset $content;
        box-shadow:inset $content;
    } @else {
        -webkit-box-shadow: $content;
        -moz-box-shadow: $content;
        box-shadow: $content;
    }
}