<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Playoff
        </ion-title>
        <button-dashboard></button-dashboard>
    </ion-navbar>

    <div class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row>
                <ion-col *ngFor="let phase of playoffData" col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === phase.customKey"
                         (click)="switchSubMenu(phase.customKey)">
                        {{ phase.customTitle }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <div class="custom-refresher">
            <span></span>
        </div>
    </ion-refresher>

    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div [ngSwitch]="submenu" *ngIf="!showSpinner" class="page-content">
        <div *ngFor="let phase of playoffData;">
            <div *ngSwitchCase="phase.customKey" class="animated fadeIn">
                <div *ngIf="phase.hasStarted">
                    <div *ngFor="let encounter of phase.encounters" class="panel">
                        <playoff-encounter-list [encounter]="encounter"
                                                [league]="leagueConfig"></playoff-encounter-list>
                    </div>
                </div>
                <div *ngIf="!phase.hasStarted" class="panel animated fadeIn">
                    <div class="empty-result">
                        <span>
                            Vorrunde noch nicht abgeschlossen.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
