ion-app {
    background-color: $app-background;
}

.content {
    color: $app-font-color;
    background-color: $app-background;
}

.content-block {
    width: 100%;
    display: block;
    float: left;
}

.has-refresher > .scroll-content {
    border-top: 0;
}

.page-content {
    padding-top: 30px;
}
