.btn {
    @extend .text-medium;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: $button-border-color;
    color: $button-font-color;
    text-align: center;
    background-color: $button-background-color;
    padding: 15px;

    &.btn-fullwidth {
        width: 100%;
    }
}

.fab-in-list {
    &.active {
        background: $fab-active-background-color;
        color: $fab-active-font-color;
    }
}

.fab-close-icon {
    margin-top: 15px;
}

.toggle-checked {
    .toggle-icon {
        background-color: $app-highlight-color !important;
    }
}