@font-face {
    font-family: 'eishockey-liga-icons';
    src:  url('../assets/fonts/eishockey-liga/eishockey-liga.eot?8a1ah1');
    src:  url('../assets/fonts/eishockey-liga/eishockey-liga.eot?8a1ah1#iefix') format('embedded-opentype'),
    url('../assets/fonts/eishockey-liga/eishockey-liga.ttf?8a1ah1') format('truetype'),
    url('../assets/fonts/eishockey-liga/eishockey-liga.woff?8a1ah1') format('woff'),
    url('../assets/fonts/eishockey-liga/eishockey-liga.svg?8a1ah1#eishockey-liga') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'eishockey-liga-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jersey:before {
  content: "\e900";
  color: $grey-lighter;
}
.icon-statistics:before {
  content: "\e90a";
  color: $grey-lighter;
}
.icon-stadium:before {
  content: "\e918";
  color: $grey-lighter;
}
.icon-referee:before {
  content: "\e919";
  color: $grey-lighter;
}
.icon-staff:before {
  content: "\e91a";
  color: $grey-lighter;
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-nav-right:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-dashboard:before {
  content: "\e907";
}
.icon-hamburger:before {
  content: "\e908";
}
.icon-info:before {
  content: "\e909";
}
.icon-news:before {
  content: "\e90b";
}
.icon-no-photo:before {
  content: "\e90c";
  color: $grey-lighter;
}
.icon-playoff:before {
  content: "\e90d";
}
.icon-puck:before {
  content: "\e90e";
  color: $red-regular;
}
.icon-schedule:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e910";
}
.icon-swap:before {
  content: "\e914";
}
.icon-table:before {
  content: "\e915";
}
.icon-video:before {
  content: "\e916";
}
.icon-whistle:before {
  content: "\e917";
}
