.header {
    &.box-shadow {
        @include box-shadow($header-box-shadow);
    }

    .back-button {
        z-index: 11;
    }
}

.toolbar-background {
    background: $toolbar-background-color;
    z-index: 10;
}

.toolbar-content {
    z-index: 20;
}

.toolbar-title {
    color: $toolbar-font-color;
}

.bar-button-default {
    color: $toolbar-button-font-color;

    &:hover {
        color: $toolbar-button-font-color !important;
    }
}

.mini-header {
    @extend .left-floater;
    @extend .headline-uppercase-light;
    width: 100%;
    padding: 30px 10px 10px 10px;
    text-align: center;
}