.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.v-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vertical-align-content > * {
     display: flex !important;
     align-content: center !important;
     align-items: center !important;
}

.v-align-center {
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }

    span {
        vertical-align: middle;
    }

    img {
        vertical-align: middle;
    }
}

.left-floater {
    display: block;
    float: left;
}

.right-floater {
    display: block;
    float: right;
}

.border-top {
    border-top: 1px solid $app-border-color;
}

.border-right {
    border-right: 1px solid $app-border-color;
}

.border-bottom {
    border-bottom: 1px solid $app-border-color;
}

.border-left {
    border-left: 1px solid $app-border-color;
}

.hidden-content {
    display: none;
}

.beta {
    @extend .font-family-medium;
    color: $beta-label-font-color;
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: top;
}

.empty-result {
    @extend .text-medium-size-2;
    display: flex;
    height: 80px;
    text-align: center;
    justify-content: center;

    span {
        align-self: center;
    }
}
