@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon/icomoon.eot?8n5mvn');
    src:  url('../assets/fonts/icomoon/icomoon.eot?8n5mvn#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?8n5mvn') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?8n5mvn') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?8n5mvn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
    content: "\e900";
}
.icon-loop:before {
    content: "\e901";
}
.icon-loop-alt3:before {
    content: "\e902";
}
.icon-book:before {
    content: "\f007";
}
.icon-calendar:before {
    content: "\f068";
}
.icon-list-ordered:before {
    content: "\f062";
}
.icon-list-unordered:before {
    content: "\f061";
}
.icon-three-bars:before {
    content: "\f05e";
}
.icon-calendar2:before {
    content: "\e903";
}
.icon-calendar3:before {
    content: "\e904";
}
.icon-tv:before {
    content: "\e905";
}
.icon-cog2:before {
    content: "\e906";
}
.icon-chronometer:before {
    content: "\e907";
}
.icon-time:before {
    content: "\e908";
}
.icon-sitemap:before {
    content: "\e909";
}
.icon-sitemap2:before {
    content: "\e90a";
}
.icon-chart:before {
    content: "\e90b";
}
.icon-dglasses:before {
    content: "\e90c";
}
.icon-medal:before {
    content: "\e90d";
}
.icon-megaphone:before {
    content: "\e90e";
}
.icon-megaphone2:before {
    content: "\e90f";
}
.icon-lamp:before {
    content: "\e910";
}
.icon-abacus:before {
    content: "\e911";
}
.icon-shuffle:before {
    content: "\e912";
}
.icon-star:before {
    content: "\e913";
}
.icon-star2:before {
    content: "\e914";
}
.icon-information:before {
    content: "\e915";
}
.icon-trophy:before {
    content: "\e916";
}
.icon-trophy2:before {
    content: "\e917";
}
.icon-stop-watch:before {
    content: "\e918";
}
.icon-stop-watch2:before {
    content: "\e919";
}
.icon-hockey-sticks:before {
    content: "\e91a";
}
.icon-hockey-sticks2:before {
    content: "\e91b";
}
.icon-move:before {
    content: "\e91c";
}
.icon-move2:before {
    content: "\e91d";
}
.icon-clipboard-move:before {
    content: "\e91e";
}
.icon-clipboard-move2:before {
    content: "\e91f";
}
.icon-award:before {
    content: "\e920";
}
.icon-award2:before {
    content: "\e921";
}
.icon-medal2:before {
    content: "\e922";
}
.icon-whistle:before {
    content: "\e923";
}
.icon-whistle2:before {
    content: "\e924";
}
.icon-schedule:before {
    content: "\e8b5";
}
.icon-dehaze:before {
    content: "\e3c7";
}
.icon-desktop_windows:before {
    content: "\e30c";
}
.icon-favorite:before {
    content: "\e87d";
}
.icon-favorite_border:before {
    content: "\e87e";
}
.icon-format_list_bulleted:before {
    content: "\e241";
}
.icon-format_list_numbered:before {
    content: "\e242";
}
.icon-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-library_books:before {
    content: "\e02f";
}
.icon-list:before {
    content: "\e896";
}
.icon-menu:before {
    content: "\e5d2";
}
.icon-personal_video:before {
    content: "\e63b";
}
.icon-settings:before {
    content: "\e8b8";
}
.icon-menu2:before {
    content: "\e120";
}
.icon-cog3:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-home2:before {
    content: "\f015";
}
.icon-calendar4:before {
    content: "\f073";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
.icon-thumbs-o-down:before {
    content: "\f088";
}
.icon-trophy3:before {
    content: "\f091";
}
.icon-bullhorn:before {
    content: "\f0a1";
}
.icon-bell-o:before {
    content: "\f0a2";
}
.icon-sitemap3:before {
    content: "\f0e8";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-calendar-o:before {
    content: "\f133";
}
.icon-television:before {
    content: "\f26c";
}
.icon-tv2:before {
    content: "\f26c";
}
.icon-chevron-thin-down:before {
    content: "\e925";
}
.icon-chevron-thin-left:before {
    content: "\e926";
}
.icon-chevron-thin-right:before {
    content: "\e927";
}
.icon-chevron-thin-up:before {
    content: "\e928";
}
.icon-flow-tree:before {
    content: "\e929";
}
.icon-emoji-happy:before {
    content: "\e92b";
}
.icon-emoji-neutral:before {
    content: "\e92c";
}
.icon-emoji-sad:before {
    content: "\e92d";
}
.icon-home3:before {
    content: "\e92e";
}
.icon-line-graph:before {
    content: "\e92f";
}
.icon-menu3:before {
    content: "\e930";
}
.icon-news:before {
    content: "\e931";
}
.icon-shuffle2:before {
    content: "\e932";
}
.icon-star-outlined:before {
    content: "\e933";
}
.icon-star3:before {
    content: "\e934";
}
.icon-trophy4:before {
    content: "\e936";
}
.icon-youtube-with-circle:before {
    content: "\e937";
}
