.menu-inner {
    width: 240px;
}

.main-menu {
    color: $menu-font-color;
}

.main-menu-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: $menu-item-background-color;
    border-bottom: 1px solid $menu-item-border-color;
    text-align: center;

    .menu-icon {
        width: 44px;
    }
}

.main-menu-content {
    margin-top: 64px;

    .scroll-content {
        padding-bottom: 65px;
    }
}

.menu-section-group-header {
    @extend .headline-uppercase-light;
    width: 100%;
    display: block;
    float: left;
    padding-left: 20px;
    margin-top: 15px;
}

.menu-item {
    width: 100%;
    display: block;
    float: left;
    padding: 10px 10px 8px 10px;
    background-color: $menu-item-background-color;
    border-bottom: 1px solid $menu-item-border-color;
    color: $menu-item-font-color;
    border-left: 5px solid transparent;

    &.active {
        border-left: 5px solid $menu-item-active-border-color;
    }

    .menu-icon {
        float: left;
        text-align: center;
        font-size: 24px;
        margin-top: 1px;
    }

    .menu-title {
        @extend .font-family-medium;
        @extend .text-size-12;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $app-font-color-lighter;
        float: left;
        padding-left: 10px;
        padding-top: 7px;

        .beta {
            font-size: 8px;
        }
    }
}

.menu-section {
    @extend .left-floater;
    width: 100%;
    margin-top: 1px;

    .menu-section-header {
        background-color: $menu-section-header-background-color;

        .menu-icon {
            font-size: 24px;
        }

        .menu-title {
            padding-left: 36px;
            width: calc(100% - 24px);
        }
    }

    .menu-section-list {
        display: none;

        &.open {
            display: inherit;
        }

        .menu-item {
            background: none;
        }
    }
}
