.panel {
    @extend .left-floater;
    @extend .text-standard;
    @include box-shadow($panel-box-shadow);
    width: 100%;
    background-color: $panel-background-color;
    padding: 0;
    margin-bottom: 30px;

    .grid {
        padding: 0;
    }

    &.panel-marginless {
        margin-bottom: 0;
    }

    &.hideBoxShadow {
        box-shadow: inherit;
    }

    &.panel-transparent {
        box-shadow: inherit;
        background-color: transparent;
    }
}

.panel-header {
    @extend .left-floater;
    @extend .text-medium-size-2;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid $panel-header-border-color;
}

.panel-content {
    @extend .left-floater;
    width: 100%;
    padding: 10px 20px;
}

.panel-content-fullwidth {
    @extend .left-floater;
    width: 100%;
}

.panel-content-paddingless-right {
    @extend .left-floater;
    width: 100%;
    padding: 10px 0px 10px 20px;
}

.panel-content-padding-inverse {
    @extend .left-floater;
    width: 100%;
    padding: 20px 0px;
}
