ion-refresher {
    background: $refresher-background-color;
    z-index: 9999;
    height: 5px;
}

.custom-refresher > span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(29, 34, 48, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(29, 34, 48, .2) 50%,
        rgba(29, 34, 48, .2) 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}