.subnav-holder {
    @extend .toolbar;
    @include box-shadow($subnav-box-shadow);
    background-color: $subnav-background-color;
    height: 39px;

    ion-grid,
    ion-col {
        padding: 0;
    }

    .subnav-item {
        @extend .font-family-medium;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        background-color: $subnav-item-background-color;
        border-bottom: 2px solid $subnav-item-border-color;
        color: $subnav-item-font-color;

        &.active {
            border-bottom: 2px solid $subnav-item-active-border-color;
            color: $subnav-item-active-font-color;
        }
    }
}
