.font-family-bold {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

.font-family-medium {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.font-family-regular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.font-family-light {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.text-highlight {
    color: $app-highlight-color;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* Text sizes */
.text-size-10 {
    font-size: 10px;
    line-height: 12px;
}

.text-size-12 {
    font-size: 12px;
    line-height: 14px;
}

.text-size-14 {
    font-size: 14px;
    line-height: 16px;
}

.text-size-16 {
    font-size: 16px;
    line-height: 18px;
}

.text-size-18 {
    font-size: 18px;
    line-height: 20px;
}

/* Font styles */
.headline-uppercase-light {
    @extend .font-family-medium;
    @extend .text-size-12;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $app-font-color-lighter;
}

.text-standard {
    @extend .font-family-regular;
    @extend .text-size-12;
}

.text-standard-light {
    @extend .text-standard;
    color: $app-font-color-lighter;
}

.text-standard-small {
    @extend .font-family-regular;
    @extend .text-size-10;
}

.text-standard-small-light {
    @extend .text-standard-small;
    color: $app-font-color-lighter;
}

.text-standard-size-2 {
    @extend .font-family-regular;
    @extend .text-size-14;
}

.text-standard-size-2-light {
    @extend .text-standard-size-2;
    color: $app-font-color-lighter;
}

.text-medium {
    @extend .font-family-medium;
    @extend .text-size-12;
}

.text-medium-size-2 {
    @extend .font-family-medium;
    @extend .text-size-14;
}

.text-medium-size-3 {
    @extend .font-family-medium;
    @extend .text-size-16;
}

.text-thin {
    @extend .font-family-light;
    @extend .text-size-12;
}

.text-thin-size-2 {
    @extend .font-family-light;
    @extend .text-size-14;
}