<ion-menu [content]="content" class="main-menu" id="main-menu" type="overlay">
    <div class="main-menu-header" menuClose (click)="openDashboard()">
        <ion-grid>
            <ion-row align-items-center>
                <ion-col col-12 class="font-align-center">
                    <img class="menu-icon" src="assets/images/eishockey-liga-logo.png" />
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-content class="main-menu-content">
        <div *ngFor="let section of menuSections">
            <div *ngFor="let page of section.pages" align-items-center>
                <div class="menu-section" *ngIf="!page.children">
                    <div menuClose
                         (click)="openPage(page)"
                         class="menu-item"
                         [class.active]="page === activePage"
                         tappable>

                        <div class="menu-icon" *ngIf="page.icon">
                            <span [ngClass]="page.icon"></span>
                        </div>
                        <div class="menu-title">
                            {{ page.title }}
                            <span class="beta" *ngIf="page.isBeta">
                                Beta
                            </span>
                        </div>
                    </div>
                </div>

                <div class="menu-section" *ngIf="page.children">
                    <div class="menu-item menu-section-header"
                         tappable
                         (click)="toggleMenuSection(page)">
                        <div class="menu-title">
                            {{ page.title }}
                            <span class="beta" *ngIf="page.isBeta">
                                Beta
                            </span>
                        </div>
                        <div class="menu-icon">
                            <span class="icon-chevron-down"></span>
                        </div>
                    </div>

                    <div class="menu-section-list" [class.open]="page.isOpen">
                        <div menuClose
                             tappable
                             (click)="openPage(childpage)"
                             *ngFor="let childpage of page.children"
                             class="menu-item"
                             [class.active]="childpage === activePage">

                            <div class="menu-icon" *ngIf="childpage.icon">
                                <span [ngClass]="childpage.icon"></span>
                            </div>

                            <div class="menu-title">
                                {{ childpage.title }}
                                <span class="beta" *ngIf="childpage.isBeta">
                                    Beta
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
