<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Newsroom <span class="beta">Beta</span>
        </ion-title>
    </ion-navbar>

    <div class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-6>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'at'"
                         (click)="switchSubMenu('at')">
                        EBEL
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'ch'"
                         (click)="switchSubMenu('ch')">
                        NLA (Schweiz)
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="news-room-page">
    <div [ngSwitch]="submenu" class="page-content">
        <div *ngSwitchCase="'at'" class="animated fadeIn">
            <div class="news-list">
                <div class="news-item">
                    <news-item *ngFor="let item of newsAt" [item]="item"></news-item>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'ch'" class="animated fadeIn">
            <div class="news-list">
                <div class="news-item">
                    <news-item *ngFor="let item of newsCh" [item]="item"></news-item>
                </div>
            </div>
        </div>
    </div>
</ion-content>
