.custom-table-header {
   @extend .text-standard-light;
   border-bottom: 1px solid $custom-table-comp-header-border-color;

    .custom-table-item {
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.custom-table-row {
    padding: 0 10px;

    .custom-table-item {
        border-bottom: 1px solid transparent;
    }

    .custom-table-border-bottom {
        border-bottom: 1px solid $custom-table-comp-row-border-color;
    }

    &:last-child {
        .cutom-table-border-bottom {
            border-bottom: 1px solid transparent;
        }
    }
}

.custom-table-item {
    @extend .text-standard;
    float: left;
    padding: 15px 10px;

    @media screen and (max-width: $widthIphone6) {
        padding: 15px 10px;
    }

    @media screen and (max-width: $widthIphoneSE) {
        padding: 15px 10px;
    }
}
