<div class="panel-header" *ngIf="title">
    {{ title }}
</div>

<div class="panel-content-fullwidth">
    <ion-grid>
        <ion-row class="custom-table-header"
                 *ngIf="hasHeaderText"
                 align-items-center>
            <ion-col *ngFor="let width of columnWidth; let i = index"
                     class="custom-table-item"
                     [attr.col-1]="width == 1 ? '' : null"
                     [attr.col-2]="width == 2 ? '' : null"
                     [attr.col-3]="width == 3 ? '' : null"
                     [attr.col-4]="width == 4 ? '' : null"
                     [attr.col-5]="width == 5 ? '' : null"
                     [attr.col-6]="width == 6 ? '' : null"
                     [attr.col-7]="width == 7 ? '' : null"
                     [attr.col-8]="width == 8 ? '' : null"
                     [attr.col-9]="width == 9 ? '' : null"
                     [attr.col-10]="width == 10 ? '' : null"
                     [attr.col-11]="width == 11 ? '' : null"
                     [attr.col-12]="width == 12 ? '' : null">
                {{ columnNames[i] }}
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let line of lines;" class="custom-table-row" justify-content-center>
            <ion-col class="custom-table-item custom-table-border-bottom"
                     *ngFor="let cell of line; let i = index"
                     [attr.col-1]="columnWidth[i] == 1 ? '' : null"
                     [attr.col-2]="columnWidth[i] == 2 ? '' : null"
                     [attr.col-3]="columnWidth[i] == 3 ? '' : null"
                     [attr.col-4]="columnWidth[i] == 4 ? '' : null"
                     [attr.col-5]="columnWidth[i] == 5 ? '' : null"
                     [attr.col-6]="columnWidth[i] == 6 ? '' : null"
                     [attr.col-7]="columnWidth[i] == 7 ? '' : null"
                     [attr.col-8]="columnWidth[i] == 8 ? '' : null"
                     [attr.col-9]="columnWidth[i] == 9 ? '' : null"
                     [attr.col-10]="columnWidth[i] == 10 ? '' : null"
                     [attr.col-11]="columnWidth[i] == 11 ? '' : null"
                     [attr.col-12]="columnWidth[i] == 12 ? '' : null">
                {{ cell }}
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
