<div class="panel">
    <div class="panel-header">
        Tormänner
    </div>
    <div class="panel-content">
        <div class="team-roster-holder vertical-align-content">
            <div class="team-roster-header vertical-align-content">
                <div class="team-roster-cell-holder-player">
                    <div class="team-roster-cell large">
                        Spieler
                    </div>
                </div>
                <div class="team-roster-cell-holder-stats">
                    <div class="team-roster-cell">
                        Sp
                    </div>
                    <div class="team-roster-cell">
                        GA
                    </div>
                    <div class="team-roster-cell">
                        GAA
                    </div>
                    <div class="team-roster-cell">
                        SV%
                    </div>
                </div>
            </div>
            <div class="team-roster-player vertical-align-content"
                 *ngFor="let player of roster.goalkeepers"
                 tappable
                 (click)="viewPlayer(player)">
                <div class="team-roster-cell-holder-player">
                    <div class="team-roster-cell">
                        #{{ player.number }}
                    </div>
                    <div class="team-roster-cell large">
                        {{ player.firstname }} {{ player.lastname }}
                    </div>
                </div>
                <div class="team-roster-cell-holder-stats">
                    <div class="team-roster-cell">
                        {{ player.gamesPlayed }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.goalsAgainst }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.goalsAgainstAverage | number:'1.1-1' }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.savePercentage | number:'1.1-1' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Verteidiger
    </div>
    <div class="panel-content">
        <div class="team-roster-holder vertical-align-content">
            <div class="team-roster-header">
                <div class="team-roster-cell-holder-player">
                    <div class="team-roster-cell large">
                        Spieler
                    </div>
                </div>
                <div class="team-roster-cell-holder-stats">
                    <div class="team-roster-cell">
                        Sp
                    </div>
                    <div class="team-roster-cell">
                        A
                    </div>
                    <div class="team-roster-cell">
                        T
                    </div>
                    <div class="team-roster-cell">
                        Pkt
                    </div>
                </div>
            </div>
            <div class="team-roster-player vertical-align-content"
                 *ngFor="let player of roster.defensemen"
                 tappable
                 (click)="viewPlayer(player)">
                <div class="team-roster-cell-holder-player">
                    <div class="team-roster-cell">
                        #{{ player.number }}
                    </div>
                    <div class="team-roster-cell large">
                        {{ player.firstname }} {{ player.lastname }}
                    </div>
                </div>
                <div class="team-roster-cell-holder-stats">
                    <div class="team-roster-cell">
                        {{ player.gamesPlayed }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.assists }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.goals }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.points }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Stürmer
    </div>
    <div class="panel-content">
        <div class="team-roster-holder vertical-align-content">
            <div class="team-roster-header">
                <div class="team-roster-cell-holder-player">
                    <div class="team-roster-cell large">
                        Spieler
                    </div>
                </div>
                <div class="team-roster-cell-holder-stats">
                    <div class="team-roster-cell">
                        Sp
                    </div>
                    <div class="team-roster-cell">
                        A
                    </div>
                    <div class="team-roster-cell">
                        T
                    </div>
                    <div class="team-roster-cell">
                        Pkt
                    </div>
                </div>
            </div>
            <div class="team-roster-player vertical-align-content"
                 *ngFor="let player of roster.forwards"
                 tappable
                 (click)="viewPlayer(player)">
                <div class="team-roster-cell-holder-player">
                    <div class="team-roster-cell">
                        #{{ player.number }}
                    </div>
                    <div class="team-roster-cell large">
                        {{ player.firstname }} {{ player.lastname }}
                    </div>
                </div>
                <div class="team-roster-cell-holder-stats">
                    <div class="team-roster-cell">
                        {{ player.gamesPlayed }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.assists }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.goals }}
                    </div>
                    <div class="team-roster-cell">
                        {{ player.points }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
