.team-roster-holder {
    @extend .left-floater;
    width: 100%;
}

.team-roster-header {
    @extend .left-floater;
    @extend .text-medium;
    width: 100%;
    padding: 5px 0;
}

.team-roster-player {
    @extend .left-floater;
    @extend .text-thin;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid $app-border-color;

    &:last-child {
        border-bottom: none;
    }
}

.team-roster-cell {
    @extend .left-floater;
    width: 30px;
    padding: 2px 0;

    &.large {
        width: calc(100% - 30px);
    }
}

.team-roster-cell-holder-player {
    @extend .left-floater;
    width: 62%;
}

.team-roster-cell-holder-stats {
    @extend .left-floater;
    width: 38%;
    text-align: center;

    .team-roster-cell {
        width: 25%;
    }
}
