<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Spielplan {{ leagueConfig.title }}
        </ion-title>
        <button-dashboard></button-dashboard>
    </ion-navbar>

    <div *ngIf="leagueConfig.intermediate" class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-6>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'preliminary'"
                         (click)="switchSubMenu('preliminary')">
                        Grunddurchgang
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'intermediate'"
                         (click)="switchSubMenu('intermediate')">
                        Zwischenrunde
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="schedule-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <div class="custom-refresher">
            <span></span>
        </div>
    </ion-refresher>

    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div *ngIf="!showSpinner" [ngSwitch]="submenu" class="page-content">
        <div *ngSwitchCase="'preliminary'" class="animated fadeIn">
            <schedule-list [games]="viewableGames"
                           [league]="leagueConfig"></schedule-list>
        </div>

        <div *ngSwitchCase="'intermediate'" class="animated fadeIn">
            <schedule-list [games]="viewableGames"
                           [league]="leagueConfig"></schedule-list>
        </div>
    </div>

    <ion-fab #fab bottom right *ngIf="!showSpinner">
        <button ion-fab color="light">
            <i class="icon-schedule"></i>
        </button>
        <ion-fab-list side="top">
            <button *ngFor="let month of filterMonth"
                    ion-fab
                    (click)="changeMonth(month)"
                    [class.active]="month.month == activeMonth"
                    tappable>
                {{ month.title }}
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
