<ion-header>
    <ion-navbar>
        <button native-transitions ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
        <button-dashboard></button-dashboard>
    </ion-navbar>

    <div class="player-banner-container">
        <ion-grid class="player-banner animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-4>
                </ion-col>
                <ion-col col-4 class="player-avatar-col">
                    <custom-image [src]="'./assets/images/hockey-player-grey.png'"
                                  [fallbackType]="'member'"></custom-image>
                </ion-col>
            </ion-row>
            <ion-row>
                <div class="player-name" *ngIf="!showSpinner">
                    {{ playerData.playerData.firstname }} {{ playerData.playerData.lastname }}
                </div>
            </ion-row>
        </ion-grid>
    </div>

    <div class="subnav-holder">
        <ion-grid class="animated fadeIn">
            <ion-row align-items-center>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'overview'"
                         (click)="switchSubMenu('overview')">
                        Übersicht
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'statistics'"
                         (click)="switchSubMenu('statistics')">
                        Statistik
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content>
    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div [ngSwitch]="submenu" *ngIf="!showSpinner" class="page-content player-content">
        <div *ngSwitchCase="'overview'" class="panel animated fadeIn">
            <custom-table *ngIf="overviewLines"
                          [title]="'Spieler Details'"
                          [lines]="overviewLines"
                          [columnNames]="overviewColumnNames"
                          [columnWidth]="overviewColumnWidth"
                          [hasSeparator]="true">
            </custom-table>
        </div>

        <div *ngSwitchCase="'statistics'" class="panel animated fadeIn">
            <custom-table *ngIf="overviewLines"
                          [title]="'Spieler Statistik'"
                          [lines]="statsLines"
                          [columnNames]="statsColumnNames"
                          [columnWidth]="statsColumnWidth"
                          [hasSeparator]="true">
            </custom-table>
        </div>
    </div>
</ion-content>
