.player-banner-container {
    @extend .toolbar;
    background-color: $player-page-banner-background-color;
    padding: 0 12px 12px 12px;

    .player-banner {
        display: block;
        width: 100%;
        height: 110px;
        color: $player-page-banner-font-color;
        text-align: center;
        padding: 0;
    }

    custom-image {
        display: block;
        width: 80px;
        height: 80px;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        background: white;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80%
        }
    }

    .player-name {
        @extend .headline-uppercase-light;
        @extend .left-floater;
        width: 100%;
        margin-top: 10px;
    }
}
