.game-report-banner-holder {
    @extend .toolbar;
    background-color: $game-page-report-background-color;
    padding: 12px;

    .game-report-banner {
        display: block;
        width: 100%;
        height: 80px;
        color: $game-page-report-font-color;
    }
}

.game-lineup {
    game-lineup {
        &:last-child {
            .game-lineup-holder {
                margin-bottom: 0;
            }
        }
    }
}

.game-is-future-hint {
    text-align: center;

    .panel-content {
        @extend .text-standard-light;
        padding: 20px;
    }
}