<ion-header>
    <ion-navbar>
        <button native-transitions ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Spiel
        </ion-title>
        <button-dashboard></button-dashboard>
    </ion-navbar>

    <div class="game-report-banner-holder">
        <div class="game-report-banner animated fadeIn">
            <encounter-item [encounter]="encounterDetails"
                            [leagueConfig]="leagueConfig"
                            [isGameRunning]="isGameRunning"></encounter-item>
        </div>
    </div>

    <div class="subnav-holder">
        <ion-grid class="animated fadeIn"
                  *ngIf="!isFutureGame && !isGameDataDelayed && !encounterDetails.dateIsToBeDetermined">
            <ion-row align-items-center>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'details'"
                         (click)="switchSubMenu('details')">
                        Details
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'statistic'"
                         (click)="switchSubMenu('statistic')">
                        Statistik
                    </div>
                </ion-col>
                <ion-col col-4 *ngIf="gameLineup">
                    <div class="subnav-item"
                         tappable
                         [class.active]="submenu === 'lineup'"
                         (click)="switchSubMenu('lineup')">
                        Lineup
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="animated fadeIn"
                  *ngIf="isFutureGame || isGameDataDelayed || encounterDetails.dateIsToBeDetermined">
            <ion-row align-items-center>
                <ion-col col-4>
                    <div class="subnav-item">
                        Details
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="subnav-item">
                        Statistik
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="subnav-item">
                        Lineup
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="game-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <div class="custom-refresher">
            <span></span>
        </div>
    </ion-refresher>

    <custom-spinner *ngIf="showSpinner"></custom-spinner>

    <div *ngIf="encounterDetails.dateIsToBeDetermined" class="page-content">
        <div class="panel game-is-future-hint animated fadeIn">
            <div class="panel-header">
                Spieltermin hat sich geändert.
            </div>
            <div class="panel-content">
                Der Spieltermin hat sich geändert und wird neu definiert.
                Der neue Termin wird der Spiele-Liste gegebenenfalls hinzugefügt.
            </div>
        </div>
    </div>

    <div *ngIf="isFutureGame && !encounterDetails.dateIsToBeDetermined" class="page-content">
        <div class="panel game-is-future-hint animated fadeIn">
            <div class="panel-header">
                Spiel hat noch nicht begonnen.
            </div>
            <div class="panel-content">
                Das Spiel wird am {{ encounterDetails.scheduledDate.value }}
                um {{ encounterDetails.scheduledTime }} Uhr angepfiffen.
            </div>
        </div>
    </div>

    <div *ngIf="isGameDataDelayed && !encounterDetails.dateIsToBeDetermined" class="page-content">
        <div class="panel game-is-future-hint animated fadeIn">
            <div class="panel-header">
                Es liegen uns noch keine Daten vor.
            </div>
            <div class="panel-content">
                Das Spiel hat am {{ encounterDetails.scheduledDate.value }}
                um {{ encounterDetails.scheduledTime }} Uhr begonnen aber es liegen uns noch
                keine Daten über den Verlauf vor.
            </div>
        </div>
    </div>

    <div [ngSwitch]="submenu"
         *ngIf="!showSpinner && !isFutureGame && !isGameDataDelayed && !encounterDetails.dateIsToBeDetermined"
         class="page-content">
        <div *ngSwitchCase="'details'" class="panel panel-marginless animated fadeIn">
            <game-details [gameActions]="gameActions"></game-details>
        </div>

        <ion-grid *ngSwitchCase="'statistic'" class="game-statistics animated fadeIn">
            <game-statistics [gameStatistics]="gameStatistics"
                             [gameOfficials]="gameOfficials"></game-statistics>
        </ion-grid>

        <div *ngIf="gameLineup">
            <div *ngSwitchCase="'lineup'" class="game-lineup animated fadeIn">
                <game-lineup [headline]="'Tormänner'"
                             [homeId]="encounterDetails.homeTeam.id"
                             [homeMember]="gameLineup.home.goalkeepers"
                             [awayId]="encounterDetails.awayTeam.id"
                             [awayMember]="gameLineup.away.goalkeepers"
                             [leagueId]="leagueConfig.id"
                             [hasLinkToPlayerPage]="true">
                </game-lineup>

                <game-lineup [headline]="'Verteidiger'"
                             [homeId]="encounterDetails.homeTeam.id"
                             [homeMember]="gameLineup.home.defensemen"
                             [awayId]="encounterDetails.awayTeam.id"
                             [awayMember]="gameLineup.away.defensemen"
                             [leagueId]="leagueConfig.id"
                             [hasLinkToPlayerPage]="true">
                </game-lineup>

                <game-lineup [headline]="'Stürmer'"
                             [homeId]="encounterDetails.homeTeam.id"
                             [homeMember]="gameLineup.home.forwards"
                             [awayId]="encounterDetails.awayTeam.id"
                             [awayMember]="gameLineup.away.forwards"
                             [leagueId]="leagueConfig.id"
                             [hasLinkToPlayerPage]="true">
                </game-lineup>

                <game-lineup [headline]="'Coaches'"
                             [homeId]="encounterDetails.homeTeam.id"
                             [homeMember]="gameLineup.home.coaches"
                             [awayId]="encounterDetails.awayTeam.id"
                             [awayMember]="gameLineup.away.coaches"
                             [leagueId]="leagueConfig.id"
                             [hasLinkToPlayerPage]="false">
                </game-lineup>
            </div>
        </div>
    </div>
</ion-content>
