.progressbar {
	height: 1px;
	position: relative;
	background: $progressbar-comp-background-color;
    overflow: hidden;

    > span {
        width: 0;
        display: block;
        height: 100%;
        background-color: $progressbar-comp-active-background-color;
        position: relative;
        overflow: hidden;
        transition: width 5s;
        -webkit-transition: width 5s;
        transition-delay: 1s;
        -webkit-transition-delay: 1s;
    }
}
