<div class="progressbar progressbar-slim">
	<span [ngStyle]="{'width.%': percentage }"
          [ngClass]="{'left-floater': leftFloater,
                      'right-floater': !leftFloater}">
    </span>
</div>
