.team-game-component {
    background: $app-content-background-color;
    width: 100%;

    .team-game-component-stats-holder {
        text-align: center;

        .result-big {
            @extend .font-family-bold;
            font-size: 16px;
        }

        .result-small {
            @extend .text-standard-small-light;
            margin-top: 3px;
        }

        .schedule-time {
            @extend .text-standard;
        }

        .result-info {
            @extend .text-standard-small;
            margin-top: 3px;
        }
    }

    .team-game-component-logo {
        text-align: center;

        img {
            height: 45px;
        }
    }

    .team-game-component-link {
        font-size: 24px;
    }
}