<ion-grid class="team-game-component" (click)="onViewGame()" tappable>
    <ion-row align-items-center>
        <ion-col col-4 class="team-game-component-logo">
            <team-logo [teamId]="game.homeTeamId"></team-logo>
        </ion-col>

        <ion-col col-4 class="text-center">
            <div class="team-game-component-stats-holder">
                <div *ngIf="game.score" class="result-big">
                    {{ game.score }}
                </div>
                <div *ngIf="game.score" class="result-small">
                    {{ game.scheduledDate.value }}
                </div>
                <div *ngIf="!game.score" class="schedule-time">
                    {{ game.scheduledDate.value }}
                </div>
                <div *ngIf="!game.score" class="result-small">
                    {{ game.scheduledTime }}
                </div>
            </div>
        </ion-col>

        <ion-col col-4 class="team-game-component-logo">
            <team-logo [teamId]="game.awayTeamId"></team-logo>
        </ion-col>
    </ion-row>
</ion-grid>
