<div class="panel">
    <div class="panel-header">
        Letzte Spiele
    </div>
    <div class="panel-content">
        <div *ngFor="let game of games.last">
            <team-game-component [game]="game"
                                 [league]="league">
            </team-game-component>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Nächste Spiele
    </div>
    <div class="panel-content">
        <div *ngFor="let game of games.next">
            <team-game-component [game]="game"
                                 [league]="league">
            </team-game-component>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Topscorer
    </div>
    <div class="panel-content no-padding">
        <div class="topscorer-item"
             *ngFor="let player of topscorer"
             tappable
             (click)="viewTopscorer(player)">
            <div class="topscorer-player-name">
                {{ player.firstname }} {{ player.lastname }}
            </div>
            <div class="topscorer-player-icon-holder">
                <div class="roster-player-icon" *ngIf="player.number">
                    <span class="icon-jersey"></span>
                    <div class="number">
                        {{ player.number }}
                    </div>
                </div>
            </div>
            <div class="topscorer-score-info-holder">
                <div class="topscorer-score-info-item">
                    <label>Spiele:</label>
                    <span>{{ player.gamesPlayed }}</span>
                </div>

                <div class="topscorer-score-info-item">
                    <label>Assists:</label>
                    <span>{{ player.assists }}</span>
                </div>

                <div class="topscorer-score-info-item">
                    <label>Tore:</label>
                    <span>{{ player.goals }}</span>
                </div>

                <div class="topscorer-score-info-item">
                    <label>Punkte:</label>
                    <span>{{ player.points }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

