.roster-player-icon {
    height: 90px;
    width: 90px;
    margin: auto;
    position: relative;

    .icon-jersey {
        font-size: 90px;
        color: $game-lineup-item-comp-item-icon-font-color;
    }

    .number {
        @extend .text-medium;
        color: $game-lineup-item-comp-item-icon-font-color;
        font-size: 14px;
        width: 25px;
        position: absolute;
        top: 36px;
        left: 50%;
        margin-left: -12.5px;
    }
}

.topscorer-item {
    @extend .left-floater;
    min-height: 130px;
    padding: 5px 0 15px 0;
    width: 100%;
    border-bottom: 1px solid $app-border-color;
}

.topscorer-player-name {
    @extend .left-floater;
    @extend .text-standard-size-2-light;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
}

.topscorer-player-icon-holder {
    @extend .left-floater;
    width: 150px;
    text-align: center;
}

.topscorer-score-info-holder {
    @extend .left-floater;
    width: 150px;
    padding: 5px;
    border-left: 1px solid $app-border-color;
}

.topscorer-score-info-item {
    @extend .left-floater;
    width: 100%;
    padding: 2px 0 2px 5px;

    label {
        @extend .text-standard-light;
        display: inline-block;
        width: 60px;
    }

    span {
        @extend .text-medium;
    }
}
