.game-statistics-chart-holder {
    @extend .left-floater;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.game-statistics-chart-info {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -35px;
    text-align: center;

    .game-statistics-chart-number {
        @extend .text-medium;
        font-size: 34px;
        margin-bottom: 12px;
    }

    .game-statistics-chart-text {
        @extend .text-thin;
        font-size: 12px;
    }
}

.game-statistics-table {
    @extend .left-floater;
    width: 100%;
}

.game-statistics-table-headline {
    @extend .left-floater;
    @extend .font-family-light;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

.game-statistics-table-stats {
    @extend .left-floater;
    width: 100%;
}

.game-statistics-table-stats-progress {
    @extend .left-floater;
    width: 85%;
}

.game-statistics-table-stats-count {
    @extend .left-floater;
    width: 15%;
    text-align: right;
}
