<div class="panel">
    <div class="panel-header">
        Spielübersicht
    </div>
    <div class="panel-content">
        <div class="game-statistics-chart-holder">
            <chart [type]="gamesChart.type" [data]="gamesChart.data" [options]="gamesChart.options"></chart>
            <div class="game-statistics-chart-info">
                <div class="game-statistics-chart-number">
                    {{ team.statistics.gamesPlayedPercentage | number:'1.0-0' }}%
                </div>
                <div class="game-statistics-chart-text">
                    Fortschritt
                </div>
            </div>
        </div>
        <div>
            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Spiele
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="team.statistics.gamesPlayedPercentage"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.gamesPlayed }}/{{ team.statistics.gamesTotal }}
                    </div>
                </div>
            </div>

            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Siege
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.gamesPlayed, gamesChart.stats.totalGamesWon)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ gamesChart.stats.totalGamesWon }}/{{ team.statistics.gamesPlayed }}
                    </div>
                </div>
            </div>

            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Niederlagen
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.gamesPlayed, gamesChart.stats.totalGamesLost)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ gamesChart.stats.totalGamesLost }}/{{ team.statistics.gamesPlayed }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Powerplay
    </div>
    <div class="panel-content">
        <div class="game-statistics-chart-holder">
            <chart [type]="playoffChart.type" [data]="playoffChart.data" [options]="playoffChart.options"></chart>
            <div class="game-statistics-chart-info">
                <div class="game-statistics-chart-number">
                    {{ team.statistics.powerplayEfficiency | number:'1.0-0' }}%
                </div>
                <div class="game-statistics-chart-text">
                    Effizienz
                </div>
            </div>
        </div>
        <div>
            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Powerplay Chancen
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.gamesPlayed, team.statistics.powerplays)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.powerplays }}
                    </div>
                </div>
            </div>

            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Tore geschossen
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.powerplays, team.statistics.powerplayGoals)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.powerplayGoals }}
                    </div>
                </div>
            </div>

            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Shorthander bekommen
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.powerplays, team.statistics.shorthandedGoalsAgainst)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.shorthandedGoalsAgainst }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-header">
        Unterzahl
    </div>
    <div class="panel-content">
        <div class="game-statistics-chart-holder">
            <chart [type]="penaltiesChart.type" [data]="penaltiesChart.data" [options]="penaltiesChart.options"></chart>
            <div class="game-statistics-chart-info">
                <div class="game-statistics-chart-number">
                    {{ team.statistics.penaltykilling | number:'1.0-0' }}%
                </div>
                <div class="game-statistics-chart-text">
                    Penalty Killing
                </div>
            </div>
        </div>
        <div>
            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Unterzahl gespielt
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.gamesPlayed, team.statistics.penalties)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.penalties }}
                    </div>
                </div>
            </div>

            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Tore bekommen
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.penalties, team.statistics.penaltyGoals)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.penaltyGoals }}
                    </div>
                </div>
            </div>

            <div class="game-statistics-table vertical-align-content">
                <div class="game-statistics-table-headline">
                    Shorthander geschossen
                </div>
                <div class="game-statistics-table-stats">
                    <div class="game-statistics-table-stats-progress">
                        <progressbar-slim [percentage]="doPercentageCalculation(team.statistics.penalties, team.statistics.shorthandedGoalsFor)"></progressbar-slim>
                    </div>
                    <div class="game-statistics-table-stats-count">
                        {{ team.statistics.shorthandedGoalsFor }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
