.game-lineup-item {
    @extend .left-floater;
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
}

.game-lineup-item-icon {
    height: 90px;
    width: 90px;
    margin: auto;
    position: relative;

    .icon-jersey {
        font-size: 90px;
        color: $game-lineup-item-comp-item-icon-font-color;
    }

    .number {
        @extend .text-medium;
        color: $game-lineup-item-comp-item-icon-font-color;
        font-size: 14px;
        width: 25px;
        position: absolute;
        top: 36px;
        left: 50%;
        margin-left: -12.5px;
    }
}

.game-lineup-item-placeholder {
    height: 90px;
    width: 90px;
    margin: auto;

    .icon-staff {
        font-size: 90px;
        color: $game-lineup-item-comp-item-icon-font-color;
    }
}

.game-lineup-item-name {
    @extend .left-floater;
    width: 100%;
    text-align: center;
    color: $game-lineup-item-comp-item-name-font-color;
}
