<div class="game-lineup-item" tappable (click)="viewPlayer()">
    <div class="game-lineup-item-icon" *ngIf="item.number">
        <span class="icon-jersey"></span>
        <div class="number">
            {{ item.number }}
        </div>
    </div>
    <div class="game-lineup-item-placeholder" *ngIf="!item.number">
        <span class="icon-staff"></span>
        &nbsp;
    </div>
    <div class="game-lineup-item-name">
        {{ item.firstname }} {{ item.lastname }}
    </div>
</div>
