<div class="schedule-live-list">
    <div *ngIf="liveGames && liveGames.length">
        <schedule-live-item *ngFor="let game of liveGames"
                            [encounter]="game"
                            [league]="league"></schedule-live-item>
    </div>

    <div *ngIf="!liveGames || !liveGames.length" class="empty-result">
        <span>
            Heute keine Spiele.
        </span>
    </div>
</div>
