.schedule-live-list {
    @extend .left-floater;
    width: 100%;

    schedule-live {
        @extend .left-floater;
        width: 100%;
        border-bottom: 1px solid $schedule-live-item-border-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}